/* Year on bar style */
.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters
button:first-child span h6.MuiTypography-subtitle1 {
    font-size: 0.875rem !important;
    color: white !important;
    /* margin-bottom: 20px !important; */
}

/* Date & month on bar style */
.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters
button:nth-child(2) span h4 {
    font-size: 1.5rem !important;
    color: white !important;
    margin-bottom: 20px !important;
}

/* year style */
.MuiPickersYearSelection-container
.MuiPickersYear-root {
    font-size: 0.75rem;
    margin-bottom: 20px !important;
}

/* month style */
.MuiPickersMonthSelection-container
.MuiPickersMonth-root {
    font-size: 1.125rem;
    margin-bottom: 20px !important;
}

/* ok cancel style */
.MuiPickersModal-dialogRoot div:nth-child(2) button .MuiButton-label {
    font-size: 1.125rem;
    margin-bottom: 20px !important;
}

/* forward backward year month */
.MuiPickersCalendarHeader-switchHeader
.MuiPickersSlideTransition-transitionContainer.MuiPickersCalendarHeader-transitionContainer
p {
    font-size: 1.125rem;
    margin-bottom: 20px !important;
}

/* Week bar style */
.MuiPickersCalendarHeader-daysHeader span{
    font-size: 0.75rem;
    margin-bottom: 20px !important;
}

/* date style */
div.MuiPickersCalendar-week
div
button.MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day
span
p{
    font-size: 0.75rem;
    /* margin-bottom: 20px !important; */
}
  
.MuiInput-underline::before{
/* border-bottom-color: var(--text-primary) !important; */
padding-bottom: '20px !important ';
}

.MuiInput-underline{
/* border-bottom-color: var(--text-primary) !important; */
padding-bottom: '20px !important ';
}